@model Sessions.ViewModels.SessionViewModel
@using MvcFormUtil.HtmlHelpers

<h1>Session</h1>

<h2>@Model.Subject</h2>

<h4>@Model.Description</h4>


<div>

    @using (Html.BeginForm())
    {
        @Html.ControllerHandler("Session", "SessionView")
        <div>
            @Html.LabelFor(x => x.Signup)
            @Html.EditorFor(x => x.Signup)
        </div>
        <div>
            <input type="submit" />
        </div>
    }
</div>

<p>@Model.Text</p>