@model Sessions.ViewModels.SessionViewModel
@using PT.Framework.SitecoreExtensions
@using Sessions
@using Sitecore.Data
@using Sitecore.Mvc

<h1>Session</h1>

<h2>@Model.Subject</h2>

<h4>@Model.Description</h4>


<div>
    @using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post))
    {
        @Html.Sitecore().FormHandler("Session", "SessionView")
        @Html.LabelFor(x => x.Signup)
        @Html.EditorFor(x => x.Signup)
        <input type="submit"/>
    }
</div>

<p>@Model.Text</p>